@page "/api/Producto/Crear"
@inject IHttpServicio http
@inject NavigationManager navigationManager
<h2 style="text-align:center">Nuevo tipo de documento</h2>
<EditForm Model="ProductoDTO" OnValidSubmit="Grabar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Código</label>
        <div>
            <InputText class="form-control" @bind-Value="@ProductoDTO.Codigo" />
            <ValidationMessage For="@(() => ProductoDTO.Codigo)" />
        </div>
    </div>

    <div class="form-group">
        <label>Nombre</label>
        <div>
            <InputText class="form-control" @bind-Value="@ProductoDTO.Nombre" />
            <ValidationMessage For="@(() => ProductoDTO.Nombre)" />
        </div>
    </div>
    <div class="form-group">
        <label>Marca ID</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ProductoDTO.MarcaId" />
            <ValidationMessage For="@(() => ProductoDTO.MarcaId)" />
        </div>
    </div>
    <div class="form-group">
        <label>Unidad ID</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ProductoDTO.UnidadId" />
            <ValidationMessage For="@(() => ProductoDTO.UnidadId)" />
        </div>
    </div>
    <div class="form-group">
        <label>Precio</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ProductoDTO.Precio" />
            <ValidationMessage For="@(() => ProductoDTO.Precio)" />
        </div>
    </div>
    <div class="form-group">
        <label>Stock</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ProductoDTO.Stock" />
            <ValidationMessage For="@(() => ProductoDTO.Stock)" />
        </div>
    </div>
    <div class="form-group">
        <label>Categoria ID</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ProductoDTO.CategoriaId" />
            <ValidationMessage For="@(() => ProductoDTO.CategoriaId)" />
        </div>
    </div>

    <br />
    <button class="btn btn-success" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
        </svg>
    </button>
    <button class="btn btn-danger" @onclick="Cancelar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
        </svg>
    </button>
</EditForm>


@code {
    private Producto ProductoDTO = new Producto();

    private async Task Grabar()
    {
        var HttpRespuesta = await http.Post<Producto, int>("api/Producto", ProductoDTO);
        if (HttpRespuesta.Error)
        {
            var Body = HttpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/api/Producto");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/api/Producto");
    }

}
