@page "/api/Producto"
@inject IHttpServicio http
@using Microsoft.AspNetCore.Authorization

<h2 style="text-align:center">Lista de productos</h2>
<br>
<a class="btn btn-success" href="/api/Producto/Crear">Nuevo producto</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Unidad</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>

        </tr>
    </thead>
    <tbody>

        @if (listaProducto == null)
        {
           <p>Buscando productos ...</p>
        }
        @foreach (var item in listaProducto)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nombre</td>
                <td>@item.Marca?.Nombre</td>
                <td>@item.Unidad?.Nombre</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td>@item.Categoria?.Nombre</td>
                <td>
                    <a class="btn btn-warning" href="api/Producto/Editar/@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>

                    </a>
                </td>

            </tr>
        }
    </tbody>

</table>
@code {
    List<Producto> listaProducto = new List<Producto>();
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Producto>>("api/Producto");

        if(!resp.Error)
        {
            listaProducto = resp.Respuesta;
        }
        else
        {
            Mensaje = "Error";
        }
    }
}
